.background-box {
    background-color: yellow;
    border-color: grey;
    border: 3px solid;
    border-radius: 50px;
    padding: 50px 50px 50px 50px;
}

.select-difficulty {
    
}


.start_game_button {
    background-color: chartreuse;
    border-radius: 8px;
    color: white;
    font-family: Arial;
    font-size: 500%;
    text-align: center;
    width: 20%;
}


.welcome {
    text-align: center;
}

.welcome-text {
    font-size: 10em;
}
