<!DOCTYPE html>
<html lang="en">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link href="../static/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="background-box">
        <div class="welcome">
            <h1 class="welcome-text">Welcome</h1>
        </div>
        <div class="welcome">
            <form action="game.html">
                <div>
                    <h1 class="select-text">Enter your name</h1>
                </div>
                <div>
                    <input type="text" name="user-name" class="select">
                </div>
                <div>
                    <h1 class="select-text">Select level</h1>
                </div>
                <div>
                    <select name="level_of_difficulty" class="select">
                        <option value="easy">Easy</option>
                        <option value="normal">Normal</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>
                <div>
                    <h1 class="select-text">Do you want time limit</h1>
                </div>
                <div>
                    <select name="is_time" class="select">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div>
                    <input type="submit" name="start_game" class="start_game_button" value="Start Game">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
