<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highest score</title>
    <link rel="stylesheet" href="../static/css/scores-style.css" type="text/css">
    <script src="../static/js/game.js" type="text/javascript"></script>
</head>
<body onload="displayAllHighestScores()">
    <div class="flex-container">
        <div class="flex-item">HIGHEST SCORE</div>
        <div id="easy-with-time" class="scores">Easy with time: </div>
        <div id="normal-with-time" class="scores">Normal with time: </div>
        <div id="hard-with-time" class="scores">Hard with time: </div>
        <div id="easy-without-time" class="scores">Easy without time: </div>
        <div id="normal-without-time" class="scores">Normal without time: </div>
        <div id="hard-without-time" class="scores">Hard without time: </div>
    </div>
    <div class="footer">

            <button onclick="location.href='/main'" class="button">BACK TO MAIN MENU</button>

    </div>
</body>
</html>